<style>
  .entry{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
  }
  .messages {
    height: 250px;
    overflow-y: scroll;
  }
  #members {
    height: 50px;
    overflow-y: scroll;
  }
</style>
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @group.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @group.description %>
</p>

<p>
  <strong>Members:</strong>
  <div id="members">
  <% if current_user.id == @group.user_id %>
    <% @memberships.each do |member| %>
      <% if member.group_id == @group.id %>
        <p><%= member.email %>     
          <% if @group.user_id != User.find_by(email: member.email).id %>
            <%= link_to 'Leave Group', Membership.find_by(user_id: (User.find_by(email: member.email).id), group_id: @group.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-default" %>
          <% end %>
        </p>
      <% end %>
    <% end %>
  <% else %>
    <% @memberships.each do |member| %>
      <% if member.group_id == @group.id %>
        <p><%= member.email %>     
          <% if current_user.id == User.find_by(email: member.email).id %>
            <%= link_to 'Leave Group', Membership.find_by(user_id: (User.find_by(email: member.email).id), group_id: @group.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-default" %>
          <% end %>
        </p>
      <% end %>
    <% end %>
  <% end %>
  </div>
</p>
<div class="messages text-center">
    <% @allGroupMessages.each do |message| %>
      <% if message.group_id == @group.id %>
      <div class = "entry text-center">
        <p><%= sanitize(message.content) %></p>
        <p>Posted by: <%= (User.find_by(id: message.user_id)).email %></p>
        <% if message.user_id == current_user.id %>
        <p>
          <%= link_to 'Edit', edit_group_message_path(message), class: "btn btn-xs btn-default" %>
          <%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-default" %>
        </p>
        <% end %>
      </div>
      <br>
      <% end %>
    <% end %>
</div>

<%= link_to 'Back', groups_path, class: "btn btn-small btn-default" %>