<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>Current Leads</h1>

<table class="table text-center"> 
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th> 
      <th>Points</th>
      <th>Demote</th>
   </tr>
  </thead>
  <tbody>
    <% @leads.each do |lead| %>
      <tr>
        <td><b><%= lead.name %></b></td>   
        <td><b><%= lead.email %></b></td>
        <td><b> <%= lead.points %></b></td>
        <td><%= link_to "Demote", home_demote_path(:id => lead.id), method: :post, class: "btn btn-xs btn-default" %></td>
      </tr>
    <% end %> 
  </tbody>
</table>